$primary-color: #174282;
$secondary-color: #51BAF0; 
$black: #000;
$white: #fff;

$card-radius: 20px;
$button-radius: 10px;
$card-shadow: 0 8px 24px rgba($primary-color, .05);
$heading-size: clamp(2rem, 3.5vw, 3rem);
